{% extends "Base.html" %}
{% block content %}

<body>
    <div class="container">

    <!-- MESSAGE FLASHING EXAMPLE -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
    {% for message in messages %}
    <strong>{{message}}</strong>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <!-- END MESSAGE FLASHING EXAMPLE -->

        <h1> New Resturant </h1>

        <form action="{{url_for('newRestaurant')}}" method = 'POST'>


        <div class="col-md-12">New Restaurant's Name:</div>
        <input type='text' size='30' name='name'>

        <br>
        <br>

        <!-- <input type='submit' value='Create'> -->
        <button type="submit" value='Create' class="btn btn-success">Add</button>
        <a href = "{{url_for('showRestaurants')}}"> <button type="button" class="btn btn-danger"> Cancel</button></a>

        </form>
    </div>
</body>
{% endblock %}